.imageInfo {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 24px;
}

.imageInfo > span {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  border-bottom: 1px solid #999999;
}

.imageInfo > * strong {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 9999px;
  width: max-content;
  font-weight: 600;
  font-size: 14px;
}


.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.photo {
  width: 100%;
  border-radius: 16px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .imageInfo > span {
    flex-direction: row;
    align-items: center;
  }

  .imageInfo {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 24px;
  }
}
