.customButton {
  display: inline-flex;
  width: max-content;
  font-family: "Unbounded", cursive;
  padding: 8px 12px;
  border: 1px solid coral;
  text-decoration: none;
  border-radius: 0.5rem;
  color: coral;
}
