
.footerComponent > div {
    display: flex;
  flex-direction: column;
  max-width: 800px;
  column-gap: 24px;
  row-gap: 32px;
  margin: 0 auto;
  padding: 48px 0;
}

.footerComponent ul {
  list-style-type: none;
}

.buttonFooter {
    display: inline-flex;
    width: max-content;
  font-family: "Unbounded", cursive;
  padding: 8px 12px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 0.5rem;
  color: rgb(0, 0, 0);
}

.footerComponent {
  background-color: black;
  color: white;
}

@media screen and (max-width: 868px) {
  .footerComponent > div {
    margin: 0 24px;
    padding: 48px 0;
    grid-template-columns: 1fr;
  }
}
