


.headerComponent{
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    padding: 16px 0;
    background-color: rgba(255, 255, 255, 0.553);
    z-index: 2;
}



.headerComponent > * ul {
    list-style: none;
}

.content{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 868px){
    .content{
        margin: 0 24px;
    }
}

.logoContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logo{
    font-size: 32px;
    font-family: 'Unbounded', cursive;
    margin: 0;
}


.navLink{
    font-family: 'Unbounded', cursive;
    padding: 8px 12px;
    background-color: coral;
    text-decoration: none;
    border-radius: 0.5rem;
    color: rgb(0, 0, 0);
}