.cardContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.photo{
    border-radius: 15px;
    height: auto;
    width: 100%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
}

.photo:hover{
    outline: 4px solid black;
    outline-offset: 4px;
}
